[submodule "elastic"]
	path = elastic
	url = https://github.com/noveris-inf/k8s-elastic
[submodule "kibana"]
	path = kibana
	url = https://github.com/noveris-inf/k8s-kibana
[submodule "filebeat-syslog"]
	path = filebeat-syslog
	url = https://github.com/noveris-inf/k8s-filebeat-syslog
[submodule "filebeat-netflow"]
	path = filebeat-netflow
	url = https://github.com/noveris-inf/k8s-filebeat-netflow
[submodule "beatload"]
	path = beatload
	url = https://github.com/noveris-inf/k8s-beatload
[submodule "logstash"]
	path = logstash
	url = https://github.com/noveris-inf/k8s-logstash
